parameters:
    excludes_analyse:
        - %rootDir%/../../../tests/temp/*
    fileExtensions:
        - php
        - phpt
    autoload_directories:
        - %rootDir%/../../../tests
    autoload_files:
        - %rootDir%/../../../src/functions.php
    ignoreErrors:
        - '#Variable \$argv in isset\(\) is never defined#'
        - '#Parameter \#[1-9] \$[a-zA-Z]+ of class MyTester\\Job constructor expects (string|callable|array|bool|bool\|string), array\|bool\|string given#'
