includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    level: 10
    paths:
        - src
        - tests
    excludePaths:
        - %rootDir%/../../../tests/temp/*
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: method.unused
            path: %rootDir%/../../../tests/*
        -
            identifier: missingType.generics
        -
            message: '#Property MyTester\\Job::\$[a-zA-Z]+ is not writable#'
            path: %rootDir%/../../../src/Job.php
        -
            message: '#Property MyTester\\TestCase::\$[a-zA-Z]+ is not writable#'
            path: %rootDir%/../../../src/TestCase.php
