mytester:
    colors: true
    coverage:
        - cobertura
application:
    scanDirs: false
    mapping:
        *: MyTester\Bridges\NetteApplication\*Presenter
routing:
    routes:
        "<presenter>[/<action>][/<id>]": "Test:default"
